################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Setup/CustomINFInstall
/Setup/CustomINFInstall
/Setup/CustomINFInstall/CustomINFInstall.def
/WIA driver for sample DS/wiadriver.aps
/WIA driver for sample DS/.vs/wiadriver2017/v15/Solution.VC.db-wal
/WIA driver for sample DS/.vs/wiadriver2017/v15/Solution.VC.db-shm
/WIA driver for sample DS/.vs/wiadriver2017/v15/Solution.VC.db
/WIA driver for sample DS/.vs/wiadriver2017/v15/ipch/WIA_UI2017-c761f985/WIA_UI-e0c440d4.ipch
/WIA driver for sample DS/.vs/wiadriver2017/v15/ipch/WIADRIVER2017-ef72c736/WIADRIVER-a1b12903.ipch
/WIA driver for sample DS/.vs/wiadriver2017/v15/ipch/AutoPCH/_SFI_932B4D57-2000-44D7-B7E9-31588652607B_-ef3ca659/WIA_UI-38b619af/WIA_UI.ipch
/WIA driver for sample DS/.vs/wiadriver2017/v15/ipch/AutoPCH/_SFI_932B4D57-2000-44D7-B7E9-31588652607B_-ef3ca659/WIADRIVER-13729e4/WIADRIVER.ipch
/WIA driver for sample DS/.vs/wiadriver2017/v15/ipch/AutoPCH/_SFI_932B4D57-2000-44D7-B7E9-31588652607B_-ef3ca659/VCTMP9228_501850.WIADRIVER.41F39A81-97bd9851/VCTMP9228_501850.WIADRIVER.41F39A81.ipch
/WIA driver for sample DS/.vs/wiadriver2017/v15/ipch/AutoPCH/_SFI_932B4D57-2000-44D7-B7E9-31588652607B_-ef3ca659/UTILITIES-4111a38d/UTILITIES.ipch
/WIA driver for sample DS/.vs/wiadriver2017/v15/Browse.VC.opendb
/WIA driver for sample DS/.vs/wiadriver2017/v15/Browse.VC.db
/WIA driver for sample DS/.vs/wiadriver2017/v15/.suo
